*{
  padding: 0px;
  margin: 0%;
  list-style-type: none;
}

.container{
  text-decoration: none;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 50px;
  background-color: rgb(148, 197, 243);
}
